/* 초기화 */
* {margin:0; padding:0;}
ul li {list-style-type:none;}

/* 폰트 */
@font-face {
    font-family: 'DOSMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {width:100%; height:100%;background-color:#377d81; font-family:'DOSMyungjo'; font-size:15px; color:#333;}
.hidden {display:none;}
input {font-family:'DOSMyungjo'; padding:2px; height:18px; border:2px solid #fff; border-right-color: #333; border-bottom-color:#333; background-color:#fff; }
input:focus {outline-color:#333;}
button {height:30px; display:inline-block; font-size:15px; font-family:'DOSMyungjo'; line-height:30px; border:2px solid #fff; border-right-color:#333; border-bottom-color:#333; cursor:pointer;}
.is-title::before {content:'Untitled - Log In'; display:block; width:calc(100% - 10px); height:30px; position:absolute; left:0; top:0; background:#818181; color:#fff; padding-left:10px; line-height:30px; font-size:20px;}
.on-window::before {background-color:#03017c;}
.loading {font-size:19px; margin-top:10px;}

/* 로그인 폼 */
#login-form {width:250px; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); border:2px solid #d3eeef; padding:40px 10px 15px; background-color:#c2c0c1;}
#login-form::before {content:'Untitled - Log In'; }
#login-form input {width:170px;}
#login-form button {height:26px; line-height: 24px; vertical-align: -3px; padding:0 5px;}

/* 콘텐츠 */
#content {max-width:800px; margin:30px auto;}
#content::after {content:''; display:block; clear:both;}
#content .col-2::after {content:''; display:block; clear:both;}
#content .col-2 .section {float:left; width:49%;}
#content .col-2 .section:first-child {margin-right:2%;}
#content .col-2 ~ .section {margin-top:2%; margin-bottom:2%; padding-top:40px; }

.section {width:100%; min-height:200px; position:relative; background-color:#c2c0c1; padding:10px; box-sizing:border-box; padding-top:35px; border:2px solid #d3eeef; border-right-color:#212c2f; border-bottom-color:#212c2f; }
.section::after {content:''; display:block; clear:both;}
.wrap-quote::before {content:'Welcome!'}
.wrap-weather::before {content:'Today';}
.wrap-todo::before {content:'To do';}

/* 로그인 정보 영역 */
#greeting {font-size:26px; margin:10px 0;}
#quote span:first-child {display:inline-block; margin-bottom:7px;}

/* 날씨 영역 */
#weather {margin-top:10px;}
#weather span:first-child {font-size:25px;}
#weather span:last-child {font-size:20px;}

/* todo 리스트 폼 */
#todo-form, #todo-lists {float:left; width:48%; height:140px; overflow-y:auto; box-sizing:border-box; }
#todo-form {margin-right:2%;}
#todo-form input {width:250px; margin-top:5px;}
#todo-lists {border-left:2px solid #d7d7d6; padding-left:calc(2% + 15px); scrollbar-color: #c0bfc3 #c0bfc3; }
#todo-lists::-webkit-scrollbar {width:15px;}
#todo-lists::-webkit-scrollbar-track {background:#dddfe0;}
#todo-lists::-webkit-scrollbar-thumb {background:#c0bfc3; border:2px solid #fff; border-right-color:#333; border-bottom-color:#333;}

#todo-list li {margin-bottom:10px; position:relative; padding-left:15px;}
#todo-list li::before {content:''; display:block; position:absolute; width:5px; height:5px; left:0; top:13px; background:#333;}
#todo-list li.did::before { background:#818181;}
#todo-list li.did span {color:#818181; text-decoration:line-through;}
#todo-list span {margin-right:7px;}

#bottom-bar {width:100%; line-height:25px; position:fixed; left:0; bottom:0;background-color:#bfbdbc; border-top:1px solid #fff;}
#bottom-bar button {height:28px; line-height:25px; padding-left:25px; padding-right:5px; margin-top:3px; margin-left:3px; background:url('../img/windows.png') no-repeat left top; background-size:25px; font-size:17px;}
#bottom-bar .info {line-height:25px; margin-left:5px; position:relative; padding-left:15px; display:inline-block; }
#clock {position:absolute; right:10px; bottom:0px; display:inline-block; padding-left:15px; }
#bottom-bar .info::before, #clock::before {content:''; display:block; position:absolute; left:0; top:0px; width:2px; height:20px; background-color:#d7d7d6; }

.color-picker-wrap {width:380px; position:fixed; left:0; bottom:32px; background:#bfbdbc; border:1px solid #333; padding:10px; border-left:15px solid #04007c; border-bottom:none;}
#color-picker {overflow:hidden;}
#color-picker li {width:20px; height:20px; float:left; margin-right:5px; margin-bottom:5px; border-top:2px solid #333; border-left:2px solid #333; cursor:pointer;}
